<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание продукта</title>
</head>
<body>

<div class="container">
    <h2>Форма создания продукта</h2>
    <form method="post" action="{% url 'create_product_admin' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form_food %}
                <label>{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            {% for field in form_category%}
                <label>{{ field.label }}</label>
                {{ field }}
            {% endfor %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Содать продукт</button>
        </div>
    </form>
    <a class="href-btn" href="/company/list_food/">Выйти</a>
</div>


</body>
</html>